body{
    display: grid;
    background-color: beige;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.navbar-top{
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    font-size: 13px;
    color: grey;
    
}

.navbar-top *{
    margin: 10px;
    color: grey;
}




.loginbutton {
	/* box-shadow: inset 0px 34px 0px -15px #29bbff; */
	/* background-color: #2dabf9; */
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 13px;
	/* font-weight: bold; */
	padding: 0px 12px;
	text-decoration: none;
	line-height: 28px;
	background: -moz-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid #4285f4;
	outline: none;
	border-radius: 2px;
}

.loginbutton:hover {
	background-color:#0688fa;

}
.loginbutton:active {
	position:relative;
	top:1px;
}
